body {
    margin: 0;
    font-family: 'Courier New', monospace;
    background: black;
    color: #00ffcc;
}

/* Landing */
.landing {
    text-align: center;
    margin-top: 20%;
}

.title {
    font-size: 3rem;
    letter-spacing: 4px;
    animation: fadeIn 2s ease;
}

#countdown {
    margin-top: 20px;
    font-size: 1.5rem;
}

/* Admin Panel */
.admin-panel {
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background: #111;
    padding: 20px;
    border-left: 2px solid #00ffcc;
}

.admin-panel input,
.admin-panel button {
    width: 100%;
    margin-top: 10px;
    padding: 6px;
    background: black;
    color: #00ffcc;
    border: 1px solid #00ffcc;
}

/* Vault */
.vault-title {
    text-align: center;
    margin-top: 40px;
}

#searchBar {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    background: black;
    color: #00ffcc;
    border: 1px solid #00ffcc;
}

.file-list {
    max-width: 600px;
    margin: auto;
}

.file {
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #00ffcc;
    cursor: pointer;
    transition: 0.3s ease;
}

.file:hover {
    background: #00ffcc;
    color: black;
}

.locked {
    opacity: 0.5;
    cursor: default;
}

/* File Page */
.file-wrapper {
    max-width: 800px;
    margin: 80px auto;
    padding: 40px;
    border: 1px solid #00ffcc;
    background: rgba(0,0,0,0.85);
    box-shadow: 0 0 20px rgba(0,255,204,0.2);
}

.file-title {
    text-align: center;
    letter-spacing: 3px;
}

.subtitle {
    text-align: center;
}

.divider {
    height: 1px;
    background: #00ffcc;
    margin: 20px 0;
    opacity: 0.4;
}

.file-content {
    white-space: pre-wrap;
    line-height: 1.6;
    min-height: 200px;
}

/* Hover Censorship */
.censor {
    background: #00ffcc;
    color: transparent;
    transition: 0.4s ease;
    padding: 2px 6px;
}

.censor:hover {
    background: transparent;
    color: #00ffcc;
}

/* Buttons */
.next-btn {
    margin-top: 40px;
    padding: 10px 20px;
    background: black;
    color: #00ffcc;
    border: 1px solid #00ffcc;
    cursor: pointer;
    transition: 0.3s ease;
}

.next-btn:hover {
    background: #00ffcc;
    color: black;
}

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}
